* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #344151;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h2 {
    color: #0398d4;
}

#main {
    font-size: 25px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 10px 0;
    border-radius: 5px;
}

.btn-1, .btn-2 {
    background-color: white;
    border: none;
    border-right: 2px solid #bfbfbf;
    padding: 0 38px;
}

.btn-2 {
    border-right: none;
    border-left: 2px solid #bfbfbf;
}

#output {
    padding: 0 40px;
}
