*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2ebe3;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
   background-color: #e84949;
   color: white;
   padding: 0.8rem 2.3rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 700;
    font-size: 18px;
   border: none;
   box-shadow: 5px 5px 7px 0px #0000003f;
   position: relative;
   z-index: 1;
}
.btn::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
}
.btn:hover::before{
    transform: scaleX(1);
}