.container{
    height: 500px;
    width: 500px;
    background-color: orange;
    border: 3px solid red;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid yellow;
    background-color: green;

    /* transition: 2s; */
    /* transition-property: all;
    transition-property: background-color;
    transition-delay: 3s; */

    transition:transform 3s ease 1s;
}
.box:hover{
    background-color: brown;
    transform: scale(2) translateX(501px) rotate(360deg);
}