.container{
    height: 215px;
    width: 100%;
    background-color: orange;
    border: 2px solid red;
}
.box{
    height: 212px;
    width: 212px;
    border: 2px solid yellow;
    background-color: green;

    animation-name: nill;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-direction: alternate ;
    /* animation-fill-mode: forwards; */
}

/* @keyframes nill{
    from{
        width: 212px;
    }
    to{
        width: 800px;
    }
} */

@keyframes nill{
    0%{
        width: 212px;
        background-color: green;
    }
    30%{
        width: 35%;
        background-color: red;
    }
    60%{
        width: 70%;
        background-color: chocolate;
    }
    100%{
        width: 100%;
        background-color: chartreuse;
    }
}   
