.date{
    font-size: 14px;
    color: #000000;
    background-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;

}